.searchInputs {
  margin-top: 105px;
  display: flex;
  justify-content: center;
    width: 100%;
}
.search {
  width: 100%;
}
/* .searchContainer {
  display: flex;
    justify-content: center;
} */
.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  
  width: 80%;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataresultcontainer {
  display: flex;
  justify-content: center;
}

.dataResult {
  margin-top: 5px;
  width: 70%;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #ff4747;
  font-weight: bold;
  cursor: pointer;
}
.dataItem:hover {
  background-color: #ECF8E8;
}
.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}