@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(270deg, #ECF8E8, #edf2ff);
}
.title {
  font-size: 55px;
  font-weight: bolder;
}
.sub_title {
  font-size: 24px;
}
.search_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  
}